page-home {
  .star-emp-list {
    color: #ead300;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bolder;
  }
.star-list {
  position: absolute;
  margin-top: -18px !important;
  right: -0px
}


.tab {
  color: #d01147 !important;

}

.tab:hover {
  border-color: #d01147 !important;
}


}
