<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"  class="text-colorB"></ion-icon>
    </button>
    <ion-title><img src="assets/imgs/logo.png" width="100px" style=""></ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding *ngIf="MODO == 0">
    <ion-card  *ngFor="let feed of listafeed" (click)="detalhe(feed.ID_EMP)">

        <ion-item>
          <ion-avatar item-start>
            <img [src]="'https://bom.bar/app/images/empresas/logo/' + feed.LOGO">
          </ion-avatar>
          <h2>{{feed.NOME}}</h2>
          <p>Teresópolis-RJ</p>

        </ion-item>

        <img [src]="'https://bom.bar/app/images/empresas/fotos/' + feed.IMAGEM">

        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="heart" style="font-size: 30px; color: #d01147;"></ion-icon>

              <ion-icon name="ios-text-outline" style="font-size: 30px; "></ion-icon>
            </button>
          </ion-col>
          <ion-col text-right>
           <p><span style="font-size: 20px;  color: #d01147">{{feed.QTD_ONLINE}}</span> <ion-icon name="ios-people" style="font-size: 25px; color: #d01147"> </ion-icon></p>
          </ion-col>
        </ion-row>

      </ion-card>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>








<ion-content  *ngIf="MODO == 1">
  <!--<button ion-button menuToggle style="position: absolute; z-index: 999999999 !important; background-color: #ff1b55">
   Menu &nbsp;&nbsp;<ion-icon name="menu"  class="text-colorB" style="color: #fff"></ion-icon>
  </button>-->
<div #map id="map" style="width: 100%; height: 100%">
</div>

</ion-content>
