<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"  class="text-colorB"></ion-icon>
    </button>
    <ion-title><img src="assets/imgs/logo.png" width="100px" style=""></ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding *ngIf="MODO == 0">
  <ion-list >


    <ion-item *ngFor="let feed of listafeed" (click)="detalhe(feed.ID_EMP)">
      <ion-avatar item-start>
          <img [src]="'https://bom.bar/app/images/empresas/fotos/' + feed.IMAGEM">
      </ion-avatar>
      <h2>{{feed.NOME}}</h2>
      <h3>{{feed.DESCRICAO}}</h3>
      <!--<p>I've had a pretty messed up day. If we just...</p>-->
      <ion-avatar item-end>
          <ion-icon name="ios-star" class="star-emp-list" *ngIf="feed.NOTA" > {{feed.NOTA}}</ion-icon>
          <ion-icon name="ios-star" class="star-emp-list" *ngIf="feed.NOTA == ''" > s/ nota</ion-icon>
      </ion-avatar>
    </ion-item>



  </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>








<ion-content  *ngIf="MODO == 1">
  <!--<button ion-button menuToggle style="position: absolute; z-index: 999999999 !important; background-color: #ff1b55">
   Menu &nbsp;&nbsp;<ion-icon name="menu"  class="text-colorB" style="color: #fff"></ion-icon>
  </button>-->
<div #map id="map" style="width: 100%; height: 100%">
</div>

</ion-content>
