@font-face {
  font-family: Muli;
  src:url('../assets/fonts/muli.woff2');
}

p,ion-item,h1,h2,h3,h4,h5,h6,ion-title,ion-label,ion-title,button,span,ion-button{
  font-family: Muli !important;
  font-style: normal  !important;
  font-weight: 400  !important;
}

b{
  font-family: Muli !important;
}

.ion-item{
  background-color: #343434;
  border-bottom: 1px solid transparent !important;
  border-radius: 5px;
}

.ion-label{
  color: #ff1b55 !important;
}

.ion-input {
  color: #fff !important;
   margin-left: -45px;

}

.ion-input2 {
  color: #fff !important;


}

.btn-avancar {
  background-color: transparent;
  border: 2px solid #343434;
  border-radius: 5px;
  height: 45px !important;
  text-transform: capitalize !important;
  font-size: 18px;

}


.btn-indicar {
  background-color: transparent;
  border: 2px solid #343434;
  border-radius: 5px;
  height: 45px !important;
 // text-transform: capitalize !important;
  font-size: 16px;
}

.toolbar-background {
  background-color: #262626;
  color: #fff;
}

.text-colorB{
  color: #d01147;
}
.toolbar-title {
  color : #fff;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}


.image {
  height: auto;
  width: 5vw;
 border: 2px solid #fff;
 border-radius: 50%;
 box-shadow: 0 0 5px gray;
 display: inline-block;
 margin-left: auto;
 margin-right: auto;
}

.circle-pic{
 width:100px;
 height:auto;
 -webkit-border-radius: 50%;
 border-radius: 50%;
}

.text-dados-social{
  margin-top: -15px;
}
.titulo-dados-social{
  color: #d01147;
}
ion-header ion-icon.back-button-icon.icon {
  color: #fff;
  z-index: 999999999999 !important;
}

.label2{
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  opacity: 1;
  pointer-events: none;
  text-align: center;
  width: 60px;
  white-space: nowrap;
}


//ALERTAS
.swal-overlay {
  //background-color: rgba(255, 255, 255, 0.45);

}

.swal-title {
  font-family: Muli !important;
  font-style: bold  !important;
  font-weight: 800  !important;
  font-size: 20px;
  color: #000

}

.swal-text {
  font-family: Muli !important;
  font-style: normal  !important;
  font-weight: 400  !important;
  text-align: center;
  color: #000
}

.swal-modal {
  max-width: 80%;
}
