<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"  class="text-colorB"></ion-icon>
    </button>
    <ion-title><img src="assets/imgs/logo.png" width="100px"></ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>



    <div >
        <ion-segment [(ngModel)]="cupom">
          <ion-segment-button value="0" class="tab">
            Trocar pontos
          </ion-segment-button>
          <ion-segment-button value="1" class="tab">
            Cupons
          </ion-segment-button>
          <ion-segment-button value="2" class="tab">
            Histórico
          </ion-segment-button>
        </ion-segment>

        <br>
      </div>

      <div [ngSwitch]="cupom">

        <ion-list *ngSwitchCase="'0'">

            <ion-list >
                <ion-item no-lines *ngFor="let feed of DADOSL" (click)="pegarCupomLoja(feed)" class="item-cupons">
                  <ion-thumbnail item-start >
                    <img [src]="feed.IMAGEM" style="padding: 20px">
                  </ion-thumbnail>
                  <h6>{{feed.TITULO}}</h6>
                </ion-item>
              </ion-list>


        </ion-list>


        <ion-list *ngSwitchCase="'1'">

            <ion-list >
                <ion-item no-lines *ngFor="let feed of DADOS" (click)="pegarCupom(feed.CODDE)" class="item-cupons">
                  <ion-thumbnail item-start >
                    <img [src]="feed.IMAGEM" style="padding: 20px">
                  </ion-thumbnail>
                  <h6>{{feed.TITULO}}</h6>
                  <p style="color: #d01147">Não usado</p>
                </ion-item>
              </ion-list>


        </ion-list>

        <ion-list *ngSwitchCase="'2'">
            <ion-list >
                <ion-item no-lines *ngFor="let feed of DADOSU"  class="item-cupons">
                  <ion-thumbnail item-start >
                    <img [src]="feed.IMAGEM" style="padding: 20px">
                  </ion-thumbnail>
                  <h6>{{feed.TITULO}}</h6>
                  <p style="color: #d01147">Usados</p>
                </ion-item>
              </ion-list>

        </ion-list>
      </div>






</ion-content>
