<ion-header>
    <ion-navbar>
      <ion-title ><img src="assets/imgs/logo.png" width="100px"></ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
    <ionic3-star-rating #rating
    activeIcon = "ios-star"
    defaultIcon = "ios-star-outline"
    activeColor = "#eaea00"
    defaultColor = "#eaea00"
    readonly="false"
    [rating]="NOTA"
    fontSize = "28px"
    (ratingChanged)="logRatingChange($event)" style="position: absolute;  " class="star-div" *ngIf="IMAGEM">
</ionic3-star-rating>


<ion-slides style="height: 190px !important" autoplay="5000" speed="500" *ngIf="IMAGEM">

  <ion-slide>
    <img [src]="'https://bom.bar/app/images/empresas/fotos/' + IMAGEM" style="width: 100%">
  </ion-slide>

</ion-slides>
<div class="div-fundo-preto"></div>
<div padding>
<h6 style="color: #d01147">{{NOME}}</h6>


<ion-fab top right bottom style="margin-top: 150px; ">
  <button ion-fab color="light" ><ion-icon name="ios-heart-outline"></ion-icon></button>

</ion-fab>






<ion-grid style="z-index: 11 !important">
  <ion-row>



    <ion-col col-3 style="text-align: center;  color: #d01147">
    <ion-icon name="md-call"  style="font-size: 40px;"></ion-icon>
    <p>Telefone</p>
    </ion-col>

    <ion-col col-3 style="text-align: center; color: #d01147" ><ion-icon name="md-map"  style="font-size: 40px;" (click)="mapa()"></ion-icon>
    <p>Mapa</p>
    </ion-col>

    <ion-col col-3 style="text-align: center; color: #d01147" >
    <ion-icon name="md-paper" style="font-size: 40px;" ></ion-icon>
    <p>Feed</p>
    </ion-col>

    <ion-col col-3 style="text-align: center; color: #d01147" >

    <ion-icon name="md-share" style="font-size: 40px;" (click)="compartilhar()"></ion-icon>
    <p>Share</p>

    </ion-col>

  </ion-row>
</ion-grid>



</div>
</ion-content>
