<ion-header>
    <ion-navbar>
      <ion-title ><img src="assets/imgs/logo.png" width="100px"></ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
    <ionic3-star-rating #rating
    activeIcon = "ios-star"
    defaultIcon = "ios-star-outline"
    activeColor = "#eaea00"
    defaultColor = "#eaea00"
    readonly="false"
    [rating]="NOTA"
    fontSize = "28px"
    (ratingChanged)="addnota($event)" style="position: absolute;  " class="star-div" *ngIf="IMAGEM">
</ionic3-star-rating>


<ion-slides style="height: 190px !important; margin-top: -5px;" autoplay="5000" speed="500" *ngIf="IMAGEM">

  <ion-slide *ngFor="let f of FOTOS">
    <img [src]="'https://bom.bar/app/images/empresas/fotos/' + f.IMAGEM" style="width: 100%; height: 100%">
  </ion-slide>

</ion-slides>




<div class="div-fundo-preto"></div>
<div padding>
<h6 style="color: #d01147">{{NOME}}</h6>


<ion-fab top right bottom style="margin-top: 150px; ">
  <button ion-fab color="light" *ngIf="FAV == '2'" (click)="addfavorito()" style="background-color: #d01147"><ion-icon name="ios-heart-outline" style="color: #fff"></ion-icon></button>
  <button ion-fab color="light" *ngIf="FAV == '1'" (click)="addfavorito()" ><ion-icon name="ios-heart-outline"></ion-icon></button>

</ion-fab>






<ion-grid style="z-index: 11 !important">
  <br>
  <ion-row>



    <ion-col col-3 style="text-align: center;  color: #d01147"  (click)="telefone()">
    <ion-icon name="md-call"  style="font-size: 40px;"></ion-icon>
    <p>Telefone</p>
    </ion-col>

    <ion-col col-3 style="text-align: center; color: #d01147" ><ion-icon name="md-map"  style="font-size: 40px;" (click)="mapa()"></ion-icon>
    <p>Mapa</p>
    </ion-col>

   <ion-col col-3 style="text-align: center; color: #d01147" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" >
    <ion-icon name="md-information-circle" style="font-size: 40px;" ></ion-icon>
    <p>Info</p>
    </ion-col>

    <ion-col col-3 style="text-align: center; color: #d01147; z-index: 55" (click)="compartilhar()">

    <ion-icon name="md-share" style="font-size: 40px;" ></ion-icon>
    <p>Share</p>

    </ion-col>

  </ion-row>
</ion-grid>







<div class="collapse" id="collapseExample">
<div class="card card-body" style="border: 1px solid rgba(208, 17, 71,0.1)">
  <div [innerHTML]="DESCRICAO" style="color: #d01147;"></div>
</div>
</div>






<h5 style="color: #d01147">Programação</h5>
<ion-list *ngIf="pro">


  <ion-item *ngFor="let f of pro" (click)="verevento(f)">
    <ion-thumbnail item-start >
        <img [src]="'http://bom.bar/app/images/programacao/' + f.FOTO" >
    </ion-thumbnail>
    <h2> {{f.TITULO}} - {{f.SUB_TITULO}}</h2>
    <p> Dia {{f.DATA}} à {{f.HORA}} </p>
  </ion-item>



</ion-list>

<p *ngIf="status == '1'" style="color: #d01147">
Nenhuma programação cadastrada
</p>


</div>
</ion-content>
